@font-face {
    font-family: 'Diavlo';
    src: url(/plugin/font/Diavlo.ttf) format('truetype');
}

@font-face {
    font-family: 'DiavloLight';
    src: url(/plugin/font/Diavlo_LIGHT_II_37.otf) format('truetype');
}
